*{
    margin: 0;
}

body{
    font-family: arial;
}

main{
    width: 1024px;
    margin: auto;
}

h3{
    font-size: 24px;
    color: #959595;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
}

nav{
    width: 1024px;
    font-family: Arial;   
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

nav img{
    width: 127px;
    margin-bottom: 3px;
}

.menu{
    list-style: none;
    width: 339px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    font-weight: bold;
}

.bannertopo{
    width: 1024px;
    margin: auto;
}

header{
    background-color: #851414;
    /* padding-top: 40px;
    padding-bottom: 40px; */
}

.cards{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.cardinterno{
    width: 230px;
    border: 3px solid #851414;
    padding-bottom: 20px;
    background-color: #851414;
    color: white;
    font-size: 12px;
    line-height: 1.5;
}

.cardinterno p{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.cardinterno h4{
    font-size: 18px;
    font-weight: normal;
    padding-top: 5px;
    padding: 5px;
}

.cardinternoroupas{
    color: white;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

figcaption{
    position: absolute;
    top: 360px;
    left: 15px;
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.botaocard{
    background-color: white;
    color: #851414;
    text-decoration: none;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
}

.botaocard:hover{
    color:white;
    background-color: #851414;
    border: 2px solid white;
    transition: 1s;
}

article{
    font-size: 14px;;
    line-height: 2;
    text-align: justify;
}

/* Rodapé */

footer{
    color: white;
    background-color: #851414;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 49px;
    font-size: 12px;
    font-weight: bold;
}

/* Página contato */

.contato{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.esquerdo{
    margin-right: 50px;
}

.direito{
    width: 744px;
    display: flex;
    justify-content: center;
}

input, textarea{
    border: 1px solid #581414;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 744px;
}

.direito p{
    margin-bottom: 3px;
}

textarea{
    height: 119px;;
}

.botaoform{
    text-align: end;
}

.botaocontato{
    background-color: #851414;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70px;
}

.botaocontato:hover{
    color:#851414;
    background-color: white;
    border: 2px solid #851414;
    transition: 1s;
}

/* Responsividade 

    desktop - >= 1170 px
    tablet - 1169 a 768 px
    smartphone - 767 ate 320 px

*/

/*tablet*/

@media (max-width: 1169px){
    nav a{
        font-size: 12px;
    }

    main{
        width: 768px;
        margin: auto;
    }

    nav{
        width: 610px;
    }

    .bannertopo{
        width: 100%;
        margin-bottom: 10px;
    }

    h3{
        font-size: 18px;
    }

    
    .cards{
        width: 610px;
        margin: auto;
        justify-content: space-between;
    }
    
    .cardinterno{
        width: 193px;
        margin: auto;
    }
    
    
    .cardinterno img{
        width: 193px;
    }
    
    .cardinterno h4{
        font-size: 14px;
        font-weight: normal;
    }
    
    .cardinterno p{
        font-size: 10px;
    }

    .botaocard{
        font-size: 10px;
    }

    article p{
        font-size: 12px;
    }

    .cardinternoroupas img{
        width: 193px;
    }

    .cardinternoroupas{
        margin: auto;
        justify-content: space-between;
    }

    figcaption{
        position: absolute;
        top: 305px;
        left: 10px;
        color: white;
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: bold;
    }

    .esquerdo{
        display: none;
    }
    
    input, textarea{
        width: 700px;
    }
}

/* Smarthphone 767 até 320 */

@media (max-width: 767px){
    
    main{
        width: 360px;
    }
    

    nav{
        width: 282px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("/images/madam fashion logo.png");
    }

    .menu{
        margin-bottom: 10px;

    }

    .logomadam{
        width: 80px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .bannertopo{
        display: none;
    }

    h3{
        font-size: 16px;
    }

    .cards{
        width: 281px;
    }

    .cardinterno{
        width: 281px;
        margin-bottom: 10px;
    }

    .cardinterno img{
        width: 281px;
    }

    .cardinterno{
        font-size: 18px;
        font-weight: normal;
    }

    .cardinterno{
        font-size: 14px;
    }

    .botaocard{
        font-size: 14px;
    }

    article p{
        font-size: 12px;
        width: 282px;
        margin: auto;
    }

    .cardinternoroupas img{
        width: 193px;
    }

    .cardinternoroupas{
        margin: auto;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    figcaption{
        position: absolute;
        top: 305px;
        left: 10px;
        color: white;
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: bold;
    }

    
    input, textarea{
        width: 300px;
    }



}