*{
    margin: 0;
}

body{
    font-family: arial;
}

main{
    width: 1024px;
    margin: auto;
}

h3{
    font-size: 24px;
    color: #959595;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
}

nav{
    width: 1024px;
    font-family: Arial;   
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

nav img{
    width: 127px;
}

.menu{
    list-style: none;
    width: 339px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    font-weight: bold;

}

.bannertopo{
    width: 1024px;
    margin: auto;
}

header{
    background-color: #851414;
    /* padding-top: 40px;
    padding-bottom: 40px; */
}

.cards{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.cardinterno{
    width: 230px;
    border: 3px solid #851414;
    padding-bottom: 20px;
    background-color: #851414;
    color: white;
    font-size: 12px;
    line-height: 1.5;
}

.cardinterno p{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.cardinterno h4{
    font-size: 18px;
    font-weight: normal;
    padding-top: 5px;
    padding: 5px;
}

.cardinternoroupas{
    color: white;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

figcaption{
    position: absolute;
    top: 360px;
    left: 15px;
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.botaocard{
    background-color: white;
    color: #851414;
    text-decoration: none;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
}

.botaocard:hover{
    color:white;
    background-color: #851414;
    border: 2px solid white;
    transition: 1s;
}

article{
    font-size: 14px;;
    line-height: 2;
    text-align: justify;
}

footer{
    color: white;
    background-color: #851414;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 49px;
    font-size: 12px;
}